.list {
  margin-bottom: 20px;
}

.item {
  position: relative;
  overflow: visible !important;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.empty {
  margin-top: 50px;
  text-align: center;
}

.item:hover {
  opacity: 1;
}

.specName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 400px;
}

.actions {
  position: absolute;
  right: 47px;
  top: 8px;
  z-index: 100;
}

.actions button {
  width: 60px;
}
