.item {
  position: relative;
  overflow: visible !important;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.item:hover {
  opacity: 1;
}

.specName {
  word-wrap: ellipsis;
}

.actions {
  position: absolute;
  right: 47px;
  top: 8px;
  z-index: 100;
}
